<div class='jumbotron'>
    <div class='container-sm'>
        <h6 class='display-2'>Forgot <br>Password</h6>
        <form>
            <div class="form-group"> 
              <label for="email"><strong>Email Address</strong></label>
              <input type="email" class="form-control" id="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-primary" (click)="submitForgotPasswordData()">Submit</button>
          </form>
    </div>
</div>