.btn-pos{
    align-items: center;
    padding-left: 14em;
}

.header {
    padding: 30px;
    text-align: center;
    background:#0098eb;
    color: white;
    font-size: 30px;
  }

  .row {
      display: flex;
  }

  .col-sm{
    flex: 2;
  }

  .col-md{
      flex: 1;
  }

.carousel{
    width: 100%;
}


img{
    padding-top: 50px;
}