{% load static %}
<DOCTYPE html>
    <html>
    <head>
        <title>ChatApp</title>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
        <script src="http://code.angularjs.org/1.2.13/angular.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <script src="{% static 'app.js' %}"></script>

        <script src="{% static 'controller/registerControl.js' %}"></script>
        <script src="{% static 'controller/loginControl.js' %}"></script>
        <script src="{% static 'controller/forgotPasswordControl.js' %}"></script>

        <script src="{% static 'services/registerService.js' %}"></script>
        <script src="{% static 'services/loginService.js' %}"></script>
        <script src="{% static 'services/forgotPasswordService.js' %}"></script>

    </head>
    
    <body class="container" ng-app="chatAppModule">

        <div class="jumbotron">

            <ui-view></ui-view>

        </div>
        
    </body>
    </html>




