
<body ng-contoller="forgotPasswordControl" class="backgroundimage">

    <div class="rtitle">
                   
        <h1 class="titleheader">ChatApp</h1>
        <nav>     
            <ul class="options">                   
                <li class="list"><a href="register.html" style="color:blanchedalmond">Register</a></li>
                <li class="list"><a href="login.html" style="color:blanchedalmond">Login</a></li>
                <li class="list"><a href=""style="color:blanchedalmond">Home</a></li>
            </ul>
        </nav>
    </div>
    <form>
        <div class="forgotpass">
            <h2 class="lheadline">Forgot Password</h2>
                <div class ="lcontent">                                

                    Enter email Id:<br>
                    <input type="text" ng-model="emailId" name = "emailId"><br><br>
                    
                    <button type="submit"  class="buttonstyle" ng-click="forgotPassword()">Submit</button>
                   
                    <!-- <a href="resetPassword.html" class="forgotsubmit">Submit</a><br><br> -->
                                                               
                </div> 
        </div>
    </form>
</body>