
<body ng-contoller="resetPasswordControl">
    <div class="rtitle">
                   
        <h1 class="titleheader">ChatApp</h1>
        <nav>     
            <ul class="options">                   
                <li class="list"><a href="register.html" style="color:blanchedalmond">Register</a></li>
                <li class="list"><a href="login.html" style="color:blanchedalmond">Login</a></li>
                <li class="list"><a href=""style="color:blanchedalmond">Home</a></li>
            </ul>
        </nav>
    </div>
            <form>
                <div class="forgotpass">
                        <h2 class="lheadline">Reset Password</h2>
                    <div class ="lcontent">                                

                        Enter new password:<br>
                        <input type="text" ng-model="resetPassword"  name = "resetPassword"><br><br>  

                        <!--<a href="" class="forgotsubmit">Submit</a><br><br>-->
                        <button type="submit"  class="forgotsubmit" ng-click="save()">Submit</button>
                                                               
                    </div> 
                </div>
            </form>
    </div>
</body>
   