<div class="grid-view-container">
        <div class="around-grid"></div>
        <div class="grid-container">
                <mat-grid-list cols="3" rowHeight="2:1" gutterSize="5px">
                        <mat-grid-tile><app-single-card></app-single-card></mat-grid-tile>
                        <mat-grid-tile><app-single-card></app-single-card></mat-grid-tile>
                        <mat-grid-tile><app-single-card></app-single-card></mat-grid-tile>
                        <mat-grid-tile><app-single-card></app-single-card></mat-grid-tile>    
                </mat-grid-list>
        </div>
        <div class="around-grid"></div>
</div>


<!-- <mat-grid-list cols="3" rowHeight="2.5:1" gutterSize="5px">
        <mat-grid-tile><app-single-card></app-single-card></mat-grid-tile>
        <mat-grid-tile><app-single-card></app-single-card></mat-grid-tile>
        <mat-grid-tile><app-single-card></app-single-card></mat-grid-tile>
        <mat-grid-tile><app-single-card></app-single-card></mat-grid-tile>    
</mat-grid-list> -->