<!-- <mat-card>
    <mat-card-title >
        {{ data.title }}
        <mat-card-actions>
            <button>Pin</button>  
        </mat-card-actions>
    </mat-card-title>
    <hr>
    <mat-card-content>{{data.note_text}}</mat-card-content>
    
    <mat-card-actions>
        <app-remind-me></app-remind-me>
        <app-collaborators></app-collaborators>
        <app-color-picker></app-color-picker>
        <app-upload-note-image></app-upload-note-image>
        <app-archive-button></app-archive-button>
        <app-note-setting></app-note-setting>
        <button style="justify-content: right;">Close</button>
    </mat-card-actions>
</mat-card> -->
<div class="dialog-container">
    <div class="title-container">
        <div class="data-title">
            {{ data.title }}
        </div>
        <div class="data-pin">
            <button mat-icon-button><mat-icon></mat-icon></button>
        </div>
    </div>
    <div class="text-container">
        {{ data.note_text }}
    </div>

    <div class="edit-date"> Edited on : {{edited_date}}</div>

    <div class="button-container">
        <div class="button-left">
            <app-remind-me></app-remind-me>
            <app-collaborators></app-collaborators>
            <app-color-picker></app-color-picker>
            <app-upload-note-image></app-upload-note-image>
            <app-archive-button></app-archive-button>
            <app-note-setting></app-note-setting>
        </div>
        <button style="justify-content: right;" class="button-right" (click)="closeDialog()">Close</button>
    </div>
</div>