mat-card {
    border : 5px;
    width : inherit;
    height: inherit;
    /* min-width: 21.5em; */
}

/* .mat-card:not([class*=mat-elevation-z]) {
    border : 5px;
    width : 22.5em;
    min-width: 21.5em;
    box-shadow: 0 2px 1px -1px grey, 
                0 1px 1px 0 grey, 
                0 1px 3px 0 grey;
} */

mat-card-actions{
    visibility:hidden;
}

mat-card:hover mat-card-actions{
    visibility: visible;
}

/* mat-card div:hover mat-card-actions{
    display:block;
} */

#card-reminder{
    border-color: slategrey;
    background-color: slategrey;
    border-radius: 5px;
    width: 65%;
}

#card-label{
    height: inherit;
}


.footer-items{
    padding-left: 10px;
}

.labels{
    /* padding-left: 2px; */
    display: flex;
    height: 1.5em;
    /* width: 1em; */
    border-radius: 5px;
    font-size: smaller;
    background-color: rgba(128, 128, 128, 0.8);
}

.mat-icon-button{
    height: inherit;
}

.label-icon {
    transform: scale(0.5);  
}   



