<mat-card>
    <mat-card-title >
        Filler Title
        <mat-card-actions>
            <!-- <button>Pin</button>   -->
        </mat-card-actions>
    </mat-card-title>
    <hr>
    <mat-card-content>Some Content Here</mat-card-content>
    
    <mat-card-actions>
        <app-remind-me></app-remind-me>
        <app-collaborators></app-collaborators>
        <app-color-picker></app-color-picker>
        <app-upload-note-image></app-upload-note-image>
        <app-archive-button></app-archive-button>
        <app-note-setting></app-note-setting>
        <button style="align-items: right;">Close</button>
    </mat-card-actions>
</mat-card>