/* mat-card{
    width: inherit;
    height: inherit;
} */

.dialog-container{
    display: flex;
    flex-direction: column;
    height: 12.5em;
    margin: inherit;
}

.title-container{
    flex: 1;
    display: flex;
    flex-direction: row;
}

.data-title {
    font-size: 1.5em;
    flex: 3;
    align-items: center;
}

.data-pin{
    flex:0;
}

.text-container{
    flex: 2;
}

.button-container{
    flex: 0.75;
    display: flex;
    flex-direction: row;
}

.button-left{
    flex: 4;
}

.button-right{
    flex:0.5;
    border-color: transparent;
}