.createnotecontainer{
    display:flex
}

.createnoteelement{
    margin-top: 2.5em;
    margin-bottom: 1em;
    flex: 1;
}

.createnoteinput{
    margin-top: 2.5em;
    margin-bottom: 1em;
    flex: 1.5;
}

.createnoteplaceholder {
    height: 3em;
    border: solid rgba(209, 207, 207, 0.8) 1px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(209, 207, 207, 0.8);
    width: inherit;
    padding: 0.75em;
    padding-left: 1em;
}

.createnoteplaceholder p {
    color: rgb(150, 150, 150);
}

.title-input:focus{
    outline:transparent;
}

.content-input:focus{
    outline:transparent;
}

.button-close{
    border: transparent;
    background-color: transparent;
}

mat-card-title input{
    width: 75%;
    border-color: inherit;
}

mat-card-title input:focus{
    outline: transparent;
}

mat-card-content input{
    width: 100%;
    border-color: inherit;
}

mat-card-content input:focus{
    outline: transparent;
}