/* mat-form-field{
    display: flex;
    flex-direction: row;
} */

form{
    display: flex;
    flex-direction: row;
}

#label-name{
    margin: 0px;
    width: 100%;
    text-align: center;
}



/* .label-button-alignment{
    display: flex;
}

.inner-content{
    flex: 1;
} */