<div>
    <h1>
        Select Photo
    </h1>
</div>

<hr>
<div class="dragContainer" appDragDrop (onFileDrop)="getFile($event)">

    <!-- <div class="dragContainer" appDrag> -->
        <div *ngIf="displayPictureUpload == null; else selectedPic" style="height: 75%">

            <button (click)="fileInput.click()">
                Select a Photo
                <input #fileInput (change)="getFileButton($event)" type="file" style="display: none;" accept="image/*">
            </button>

        </div>

        <ng-template #selectedPic>
            <div style="height: 75%;">
                <img [src]="imgUrl" alt="" style="height: inherit; width: inherit;"> 
            </div>
        </ng-template>
    <!-- </div> -->

</div>

<hr>

<div>
    <button class="btn btn-primary btn-sm" (click)="uploadImage()">Set as profile picture</button>
    <button class="btn btn-secondary btn-sm" (click)="close()">Cancel</button>
</div>